NODE_ENV=development

API_GATEWAY_PORT=3000
AUTH_SECRET=change_me_for_local_demo

MONGO_USER=admin
MONGO_PASSWORD=password
MONGO_DB=crawler_db
MONGO_PORT=27017

REDIS_PORT=6379
ELASTICSEARCH_PORT=9200

OAUTH_CLIENT_ID=unused_for_demo
OAUTH_CLIENT_SECRET=unused_for_demo

MAX_CONCURRENT_REQUESTS=5
REQUEST_TIMEOUT=30000
RATE_LIMIT_PER_DOMAIN=5
